<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TriplanAI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TriplanAI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.916440717409-m3hq8oj5mlbthpg6jclok2keit4qr5oq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>916440717409-m3hq8oj5mlbthpg6jclok2keit4qr5oq.apps.googleusercontent.com</string>
	<key>GMSApiKey</key>
	<string>AIzaSyCv9N9yz-qDlchmcU5jiVZ-v6_8V_YwyN4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>TriplanAI needs camera access to take photos for your profile.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TriplanAI needs your location to show nearby places and provide navigation to your destinations.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TriplanAI needs your location to provide navigation and show nearby places even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TriplanAI needs your location to show nearby places and provide navigation to your destinations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TriplanAI needs to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TriplanAI needs photo library access to select photos for your profile and trips.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TriplanAI Trip File</string>
			<key>UTTypeIdentifier</key>
			<string>com.triplanai.triplan</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>triplan</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/triplan</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:triplanai.eupasoft.com</string>
	</array>
</dict>
</plist>
